name: Eloquent Core Test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-and-test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cd eloquent_core && cargo build --verbose
    - name: Run tests
      run: cd eloquent_core && cargo test --verbose
